{% extends "base.html" %}

{% block title %}Login Your Leadcity IOMS Account{% endblock %}

{% block content %}
  <h1>Login To Your Leadcity IOMS Profile</h1>
  <form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" required>

    <label for="role">Select Role:</label>
    <select name="role" required>
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>

    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
{% endblock %}
